<!DOCTYPE html>
<html>

<head>
    <tite></tite>
</head>

<body>
    <h1>Spotify Stats</h1>
    <form method="post">
        <p>Please select time range:</p>
        <input type="radio" id="time1" name="term" value="short_term">
        <label for="time1">Short Term</label><br>
        <input type="radio" id="time2" name="term" value="medium_term">
        <label for="time2">Medium Term</label><br>
        <input type="radio" id="time3" name="term" value="long_term">
        <label for="time3">Long Term</label>

        <p>Please select the amount that you want to list:</p>
        <input type="radio" id="amount1" name="amount" value="10">
        <label for="amount1">10</label>
        <input type="radio" id="amount2" name="amount" value="25">
        <label for="amount2">25</label>
        <input type="radio" id="amount3" name="amount" value="50">
        <label for="amount3">50</label>

        <br>
        <br>

        <input type="submit" value="Top Tracks" name="get_top_tracks" />
        <input type="submit" value="Top Artists" name="get_top_artists" />
    </form>
</body>

</html>
